.App {
  text-align: center;
}

.app-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.topnav-container {
  display: flex;
  flex-direction: column;
  height: 80px;
}

.body-content {
  display: flex;
  height: 100%;
}