.main-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 40px 20px 20px 20px;
}

.cards-container {
  height: 100%;
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.pagination-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-self: center;

  .page {
    margin: 2px;
    padding: 0;
    cursor: pointer;
  }
}